<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cash.spinningwheelandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Lucky_no"
            android:label="@string/lucky"
            />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
       />
        <activity
            android:name=".Refer_friend"
            android:label="@string/refer"
            />

        <activity
            android:name=".Login"
            android:label="@string/login" />

        <activity
            android:name=".Hot_offer"
            android:label="@string/hot" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <activity
            android:name=".Wallet"
            android:label="@string/wallet" />
        <activity
            android:name=".Payment"
            android:label="@string/payment" />
        <activity android:name=".Contact"></activity>

        <activity android:name=".Privacy"></activity>
    </application>

</manifest>